html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

:root{
  /*Colores*/
  --blanco: #F0F2FF;
  --negro: #040828;
  --fondo-tems: #F89946;
  --fondo-wie: #7A00A3;
  --fondo-computer: #072774;
  --fondo-aps: #F60102;
  --fondo-pes: #0F5608;
  --fondo-embs: #007AFF;
  --fondo-eds: #0E3060;
  --fondo-ras: #373451; 
  --fondo-aess: #350D27; 
  --fondo-rama: #04122D;
}

@font-face {
  font-family: 'UNAL Ancizar Sans';
  src: url('/src/assets/fonts/AncizarSans-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;  
  font-style: normal;
}

@font-face {
  font-family: 'UNAL Ancizar Sans';
  src: url('/src/assets/fonts/AncizarSans-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}

.view-container {
  display: flex;
  flex-direction: row;
  width: 100vw;   
  height: 100vh; 
}

@media(max-width:700px){
    .view-container {
        flex-direction: column;
    }
}